@model CodigoLimpioFinal.Medico

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioCita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AñosExperiencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AñosExperiencia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cedula }) |
    @Html.ActionLink("Back to List", "Index")
</p>
